
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.25;

         height:100vh;
        }


        /**********************/

        .navbar-inverse {
            background:#0a5a77;
            height:100px;
        }
       
       #logo_img{
           max-height:100px;
         padding-bottom:20px;
         padding-top:0;
        }
            .navbar-inverse .navbar-nav > li > a {
                color: white;
                font-size: 15px;
                text-transform: uppercase;
            }

            .navbar-inverse .navbar-brand {
                color: white;
                font-size: 30px;
            }

            .navbar ul li:hover {
             
                background:#3e7acf;
                color: white;
        
              align-content:center;
            
            }

            .navbar-inverse .navbar-nav>li>a{
                color:black;
                font-size:25px;
                margin-top:18px;
            }

       /****************************/

        .header {
            height: 95vh;
            background-image: url('img/foto9.jpg');
            background-size: cover;
            background-position: top;
            position: relative;
        }

        .text-box {
            position: absolute;
            top: 50%;
            left: 50%;
          
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .heading-primary {
            color: #fff;
            text-transform: uppercase;
            backface-visibility: hidden;
            margin-bottom: 60px;
        }

        .heading-primary-main {
            font-family:'KoHo', sans-serif;
            display: block;
            color:	#092a3a;
             text-shadow:2px 2px 2px white;
            font-size: 80px;
            font-weight: 700;
            letter-spacing: 8px;
            animation-name: moveLeft;
            animation-duration: 1s;
            animation-timing-function: ease-out;
        }

        .heading-primary-sub {
            display: block;
            color:#2c5422;
            text-shadow:2px 2px 2px white;
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 1px;
            padding-top: 40px;
            animation: moveRight 1s ease-out;
        }

        @keyframes moveLeft {
            0% {
                opacity: 0;
                transform: translateX(-100px);
            }

            80% {
                transform: translateX(10px);
            }

            100% {
                opacity: 1;
                transform: translate(0);
            }
        }

        @keyframes moveRight {
            0% {
                opacity: 0;
                transform: translateX(100px);
            }

            80% {
                transform: translateX(-10px);
            }

            100% {
                opacity: 1;
                transform: translate(0);
            }
        }
      /*******************/

        #about {
            padding-top: 40px;
            padding-bottom: 40px;
      
            background-image: url('img/foto7.jpg');
            background-size: cover;
            background-position: center;
            color: #fff;        
            font-family: 'Work Sans', sans-serif;
            height:100vh;
        }
        #about_title{
            color: white;
           }
        .text-muted
        {
            color:white;
            font-weight:400;
        }

        .featurette-heading {
            font-weight: bold;
            line-height: 1;
            letter-spacing: -1px;
        }
       
        @media (min-width: 768px) {
            .featurette-heading {
                font-size: 30px;
            }
        }

        @media (min-width: 992px) {
            .featurette-heading {
                margin-top: 120px;
            }
        }

        .img-responsive {
            border-radius: 100px;
            max-width: 100%;
            height: auto;
            display: block;
        }
        .h2_underline{
            font-weight:bold;
            text-decoration:underline;
        }
        #row_2
        {
            margin-left:40px;
        }
/***************************/
        #gallery {
            background-image:  url('img/foto2.jpg');
            background-size: cover;
            background-position: top;
            color: #fff;
            padding-top: 100px;
            padding-bottom: 80px;
            position: relative;
            max-height:100vh;
        }

        .project {
            transition: transform .3s;
        }

            .project:hover {
                transform: scale(1.1);
            }
           /******************************/

      
        footer #footer-map {
            background-image:  url('img/foto10.jpg');
            background-size: cover;
            background-position: center;
             padding-top: 100px;
            color: #fff;
            position: relative;
            display: -webkit-box;
            display: -moz-flexbox;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-flow: row wrap;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            margin: 0 auto;
            max-height:100vh;;
        }

        h3 {
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            color:black;
            font-size: 2.8em;
            font-weight:bold;
            text-shadow:2px 2px 2px #bdbead;
        }
       #map_div
       {
           width:100%;
           margin-left:auto;
           margin-right:auto;
           text-align: center;
          
       }
       iframe{
           width:80%;
           text-align: center;
       }
        #footer-map {
            padding-top: 50px;
            margin-left:auto;
            margin-right:auto;
            width: 100%;
             text-align: center;
        }

            #footer-map div {
                margin-bottom: 50px;
                width: 100%;
                text-align: center;
            }



        #footer-copyright {
            color: #fff;
            font-size: 1em;
            padding: 25px 0;
            background-color: #000;
            background-position: center;
            text-align: center;
        }

       
        .col-sm-6,
        .col-sm-6,
        .col-xs-12 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xs-12 {
            float: left;
            width: 100%;
        }

        @media (min-width: 768px) {
            .col-sm-6 {
                float: left;
            }
        }

